{% extends "base.html" %}
{% block head %}
<html>
<head>
	<title>futsal</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/foundation.min.css"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/normalize.css"/>

</head>
<body>
{% endblock %}

{% block body %}
<div class="row">
	<div class= "large-12 columns">
		<h1 class="panel">League Table</h1>
	</div>
</div>


<div class="row" align="center">	
	<div class= "small-12 columns">

		<table class= "large-12">
			<div class="row">

			<thead>
				<th>Team</th>
				<th>PL</th>
				<th>Win</th>
				<th>Lose</th>
				<th>Draw</th>
				<th>Point</th>
				<th></th>
			</thead>
			<tbody data-bind="foreach: team">
				<td >
					<span id="name" data-bind="text:$data.name"></span>
				</td>
				<td>
					<span id="game_played" data-bind="text:$data.game_played"></span>
				</td>
				
				<td>
					<a href="#" data-bind="click: add_win"><span id="win" data-bind="text:$data.win"></span></a>
				</td>
				<td>
					<a href="#" data-bind="click: add_lose"><span id="lose" data-bind="text:$data.lose"></span>
				</td>
				
				<td>
					<a href="#" data-bind="click: add_draw"><span id="draw" data-bind="text: $data.draw"></span>
				</td>
				<td>
					<span id="point" data-bind="text:$data.point"></span>
				</td>
				<td>
					<a href="#" data-bind="click: $root.remove_team">Remove</a>
 				</td>

			</tbody>
		</table>
		<p style="text-align:left">Total teams <span data-bind="text: team().length"></span></p>
	</div>
</div>



<div class="row" align="center">
	<div class="large-12 columns">
		<input type="text" placeholder='Team Name' data-bind="value: team_to_add">
	</div>
</div>

<div class="row" align="center">
	<div class="large-12 columns">
		<button class="small round button expand" data-bind="click: add_team,enable: team_to_add().length > 0">Add</button>
	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}knockout.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
<script >	
	team_point = function(){
			var self = this;
			self.name = ko.observable("Chelse");
			self.game_played = ko.observable(0);
			self.win = ko.observable(0);
			self.lose = ko.observable(0);
			self.draw = ko.observable(0);
			self.point = ko.computed(function(){
				return parseInt(self.win())*3 + parseInt(self.draw())*1;
			});

			self.add_win = function (){
				self.game_played(self.game_played() +1);
				return self.win(self.win() +1);
			};
			
			self.add_draw = function (){
				self.game_played(self.game_played() +1);
				return self.draw(self.draw() +1);
			};
			
			self.add_lose = function (){
				self.game_played(self.game_played() +1);
				return self.lose(self.lose() +1);
			};
		};

	View = function (){
		var self = this;
		self.team_to_add = ko.observable("")

		self.team = ko.observableArray([new team_point()]);
		
		self.add_team = function(){
			self.team.push(new team_point().name(self.team_to_add()));
			self.team_to_add("")
			
		};

		self.remove_team = function(team){
			self.team.remove(team);
		};
		
	};

	my_view=new View();
	ko.applyBindings(my_view);
</script>
{% endblock %}
