{% block head %}
<html>
<head>
	<title>futsal</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/foundation.min.css"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/normalize.css"/>

</head>
<body>
<div class = "row">
	<div class = "small-12 column">
		<h1 class=""><a href = "/futsal/" >Futsal Nepal</a></h1>
	</div>
</div>

<div class = "row">
	<div class = "large-12 column">
		<input type = "search" placeholder="Search">
	</div>
</div>

<div class = "row">
	<div class = "large-8 column">
	{% block extra %}
	{% endblock %}
		
	</div>
	<div class = "large-4 column" >
		<ul class="no-bullet">
			<li><a href="/futsal/register">New Reserve</a></li>
			<li><a href="/futsal/reservation_detail">Reservation detail</a></li>
			<li><a href="/futsal/league">League table</a></li>	
			<li><a href="/futsal/settings">Settings</a></li>
	</div>

</div>

{% endblock %}

{% block body%}


{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}knockout.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
{% endblock %}

{% block foot %}
</body>
</html>
{% endblock %}