{% extends "base.html" %}

{% block extra %}

<div class = 'small-8 column'>
	<h3>Match-up<br>	
	<table border="0">
		<tr>
			<td><a href="#">Previous</a></td>
			<td><label>Today</label></td>
			<td><a href="#">Next</a></td>
		</tr>
		<tr>
			<td colspan="3"><label>{{ date }}</label></td>
		</tr>
	</table>

</div>

<table class = "small-12 column"> 
	<thead>
		<tr>
		<th>Reserved By</th>
		<th>Contact</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th>Date</th>
		<tr>
	</thead>
	<tbody>
		{% for o in obj %}
		<tr>
		<td>{{ o.reserved_by }}</td>
		<td>{{ o.contact_number }}</td>
		<td>{{o.start_time }}</td>
		<td>{{o.end_time }}</td>
		<td>{{o.date }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock %}
	