{% extends "base.html" %}
{% block extra %}
	{% if form.errors %}
	<p class = "errors">Check Again, You have some errors</p>
	{% endif %}

	<div class = "large-8 column">

	<form action = "/futsal/register/" method = 'POST'>
		{% csrf_token %}

		{{ form.as_p }}

		
		<input type="submit" value="Update" class="small round button expand">
	</form>
	</div>
{% endblock %}

