{% extends "base.html" %}
{% block head %}
<html>
<head>
	<title>futsal</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/foundation.min.css"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/normalize.css"/>

</head>
<body>
{% endblock %}

{% block body %}
<div class = 'row'>
	<div class = 'large-12 column'>
	<h1><a href = "/futsal">Home</a>|Reservation Detail</h1>
	</div>
</div>
<div class = 'row'>
	<div class = 'large-12 column'>

<table class = "small-12 column"> 
	<thead>
		<tr>
		<th>Reserved By</th>
		<th>Contact</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th>Date</th>
		<th>Address</th>
		<tr>
	</thead>
	<tbody>
		{% for o in obj %}
		<tr>
		<td>{{ o.reserved_by }}</td>
		<td>{{ o.contact_number }}</td>
		<td>{{ o.start_time }}</td>
		<td>{{ o.end_time }}</td>
		<td>{{ o.date }}</td>
		<td>{{ o.address }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
	</div>
</div>
{% endblock %}