{% extends "base.html" %}
{% block extra %}
	{% if form.errors %}
	<p class = "errors">Check Again, You have some errors</p>
	{% endif %}
{% block script %}
<script type="text/javascript" src="{{ STATIC_URL }}knockout.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
<script>
$(document).ready(function(){
	$("#show").click(function(){
		$("#rates").fadeIn();
		
		
	});

});
</script>
{% endblock %}
<p><span style = "color:green"><b>General Account Settings</b></span></p>

<hr>

<div id ="show"><a href = "#">Change Rate</a></div>


<div id="rates" style="display:none; padding:10px">
<form action="/futsal/settings/" method="POST">
	{% csrf_token %}

	{{ form.as_p }}
	<!-- <p>Morining(6:00-11:00):<input type= "text" placeholder = "Enter new Rate"></p>
	<p>Afternoon(11:00-5:00):<input type="text" placeholder = "Enter new Rate"></p>
	<p>Evening(5:00-8:00):<input type="text" placeholder = "Enter new Rate"></p> -->
	<input type="submit" value="Save" class="small round button expand">
</form>
</div>

{% endblock %}